.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.left {
  padding: 50px 100px;
  flex: 1;
}
.left img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.right {
  padding-right: 100px;
}
.right h1 {
  color: darkgoldenrod;
  border-bottom: 1px solid darkgoldenrod;
  width: max-content;
  margin: 0;
}
.desc {
  margin: 20px 0;
  font-size: 18px;
  color: rgb(66, 65, 65);
}
.readmoreButton {
  border: none;
  padding: 8px;
  background-color: darkgoldenrod;
  color: white;
  border-radius: 20px;
  width: 25%;
  cursor: pointer;
}
.readlessButton{
  border: none;
  padding: 8px;
  background-color: rgb(197, 185, 156);
  color: white;
  border-radius: 20px;
  width: 25%;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .container{
    flex-direction: column;
    margin-top: 200px;
  }
  .left img{
    width: 300px;
    height: 300px;
  }
  .right{
    align-items: center;
    text-align: center;
    padding: 0 30px;

  }
  .right h1{
    width: 100%;
    border-bottom: none;
    font-size: 24px;
  }
  .right button{
    width: 50%;
  }
  
}
